* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    background: url("../media/images/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100vh;
    width: 100vw;
    
}
.scoregame {
    overflow-y: hidden;
}

h1 {
    font-size: 48px;
    font-family: Segoe UI;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 35px 0 70px 0 ;
}

.container_slide {
    width: 100vw;
    position: relative;
    height: 320px;
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.slide_active {
    display: flex;
}

.slide h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 40px 0 30px 0;
}

.slide p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
    color: #fff;
}

.slider_dotte {
    padding-bottom: 25px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.dotted::after {
    content: "•";
    font-size: 30px;
    color: #fff;
    margin:0 3px;
}

.dotted_active::after {
    color: #ffb700;
}


.button_slide {
    background-color: #ffb700;
    padding: 7px 17px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
}

.foot {
    font-size: 11px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.intervention {
    display: flex;
    justify-content: space-around;
}

.bonus {
    background-color: #ffb700;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    margin: 10px;
    height: 75px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5px;
}

.time {
    height: 38px;
    width: 100%;
    background-color: #02182B;
    border: 1px solid #ffb700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    position: relative;
}

.time::before {
    content: '';
    height: 100%;
    width: 70%;
    position: absolute;
    left: 0;
    top:0;
    background-color: #ffb700;
    z-index: 1;
}

.time span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    z-index: 2;
}

.jaune {
    color: #ffb700;
}

.bleu {
    color: #0098FF;
}

/* AJOUT ANTONIN
/*--------------- NORMAL GAME --------------------*/

.blue_window{
    text-align: center;
    background-color: #0098FF;
    border-radius: 15px;
    margin: 0 20% 0 20%;
    font-family: "Segoe UI";
    padding: 10px 0 10px 0;
    transition-duration: 1.5s;

}
.blue_window>p{
    font-size: 37px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.blue_window>p:nth-child(2){
    font-size: 9px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.scoreboard {
    margin: 15px 20% 0 20%;
    display: flex;
    justify-content: space-between;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.scoreboard>div:nth-child(1) {
    background-color: white;
    border-radius: 15px;
    font-size: 120px;
    color: #0098FF;
    width: calc(50% - 5px);
    text-align: center;
    font-family: "Segoe UI";
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.scoreboard>div:nth-child(2) {
    background-color: white;
    border-radius: 15px;
    font-size: 120px;
    color: #ffb700;
    width: calc(50% - 5px);
    text-align: center;
    font-family: "Segoe UI";
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.sharegame {
    background-color: #ffb700;
    z-index: -50;
    border-radius: 50px;
    margin: 15px 20% 0 20%;
    font-style: italic;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    font-family: "Segoe UI";
    padding: 5px 0 5px 0;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

/*------------------- AVEC MALUS/BONUS ----------------*/
.blue_window_small{
    text-align: center;
    background-color: #0098FF;
    border-radius: 15px;
    margin: -20px 35% 0 35%;
    font-family: "Segoe UI";
    padding: 10px 0 10px 0;

}
.blue_window_small>p{
    font-size: 19px;
}
.blue_window_small>p:nth-child(2){
    font-size: 5px;
}
.scoreboard_small {
    margin: 5px 35% 0 35%;
    display: flex;
    justify-content: space-between;
}
.scoreboard_small>div:nth-child(1) {
    background-color: white;
    border-radius: 15px;
    font-size: 61px;
    color: #0098FF;
    width: calc(50% - 2px);
    text-align: center;
    font-family: "Segoe UI";
}
.scoreboard_small>div:nth-child(2) {
    background-color: white;
    border-radius: 15px;
    font-size: 61px;
    color: #ffb700;
    width: calc(50% - 2px);
    text-align: center;
    font-family: "Segoe UI";
    opacity: 1;
}
.sharegame_small {
    opacity: 0;
    background-color: #ffb700;
    border-radius: 50px;
    margin: 15px 20% 0 20%;
    font-style: italic;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    font-family: "Segoe UI";
    padding: 5px 0 5px 0;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.middle_text {
    margin: -30px 25% 0 25%;
    text-align: center;
}
.middle_text>p:nth-child(1){
    color: white;
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 22px;
}
.middle_text>p:nth-child(2){
    color: #ffb700;
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 43px;
}
.pledges {
    margin: 20px 10% 0 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.pledges>div {
    width: calc(50% - 15px);
    text-align: center;
    color: white;
    background-color: #ffb700;
    border-radius: 15px;
    font-size: 14px;
    font-family: "Segoe UI";
    font-weight: bold;
    padding: 13px 4px 13px 4px;
}
.pledges>div:hover{
    transform: scale(0.95);
    transition: 0.2s;
    transition-timing-function: step-end;
}
.gauge_container {
    margin: 20px 10% 0 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    border-radius: 15px;
    font-family: "Segoe UI";
    padding: 13px 4px 13px 4px;
}
.gauge1, .gauge2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 15px);
}
.gauge1>div:nth-child(1){
    margin: 0 40% 0 40%;
    background-color: #ffb700;
    padding-top: 60px;
}
.gauge2>div:nth-child(1){
    margin: 40px 40% 0 40%;
    background-color: #ffb700;
    padding-top: 20px;
}
.gauge1>div:nth-child(2), .gauge2>div:nth-child(2) {
    font-family: "Segoe UI";
    font-size: 12px;
}
.time_small {
    height: 12px;
    margin: 10px 20% 0 20%;
    background-color: #ffb700;
    border: 2px solid #ffb700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time_small>span {
    font-family: "Segoe UI";
    font-size: 8px;
}

.malus_popup {
    margin-top: 100vh;
    z-index: 1000;
    animation-name: none;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.34,1.19,.95,1);
    animation-fill-mode: forwards;


}
@keyframes malus_coming {
    0%{ margin-top: 100vh; }
    100%{ margin-top: 15px; }
}
@keyframes malus_reversecoming {
    0%{ margin-top: 15px; }
    100%{ margin-top: 100vh; }
}
/*in : cubic-bezier(.34,1.19,.95,1);
out : cubic-bezier(1,.43,.95,1)
 */